{% extends "base.html" %}
{% block title %}Connexion · Nemory{% endblock %}

{% block content %}
<div class="login">
  <img class="login__logo" src="{{ url_for('static', filename='icons/logo-master-transparent.png') }}"
       alt="Nemory" width="200" height="200">
  <p class="login__tagline">Votre journal d'entretien personnel.</p>

  <form method="post" class="form">
    <label class="field">
      <span class="field__label">Mot de passe</span>
      <input type="password" name="password" autocomplete="current-password"
             autofocus required>
    </label>
    <button type="submit" class="btn btn--primary btn--block">Se connecter</button>
  </form>
</div>
{% endblock %}
